examples/Heating and Hotwater.json
[{"id":"824f1743797e535f","type":"tab","label":"Heatpump Price Optimization","disabled":false,"info":"","env":[]},{"id":"13bf1251f3dbd7f0","type":"group","z":"824f1743797e535f","name":"Set Optimized Heat Pump Parameters","style":{"label":true},"nodes":["e69a2072bb399216","d6412d63e2db9a6d","493982ffddf8850d","da46c8d503a81c54","6a129e6cbb6ac148","67103ce0e7322cd8","dadc490a1b0e7f3e","3a0d19c8b2c7cdcc","8dc36e35ef6a765a","ecda3b3eaaf4f988"],"x":14,"y":59,"w":992,"h":222},{"id":"e69a2072bb399216","type":"inject","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Daily Tibber Prices at 14:00","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"00 14 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"{   viewer {     homes {       currentSubscription{         priceInfo{           today {             total             startsAt           }           tomorrow {             total             startsAt           }         }       }     }   } }","payloadType":"str","x":180,"y":100,"wires":[["493982ffddf8850d"]],"info":"# Once a day the prices are read from tibber API"},{"id":"d6412d63e2db9a6d","type":"mqtt out","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Heatpump: Set Target Room Temperature","topic":"modbus2mqtt/heatpump/roomtargettemperature/set/","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9efdad0e0808d94b","x":780,"y":160,"wires":[]},{"id":"493982ffddf8850d","type":"tibber-query","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Daily Tibber Prices","active":true,"apiEndpointRef":"d3cc795fa2c209e7","x":430,"y":100,"wires":[["dadc490a1b0e7f3e","8dc36e35ef6a765a"]]},{"id":"da46c8d503a81c54","type":"mqtt out","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Heatpump: Set Target Hot Water Temperature","topic":"modbus2mqtt/heatpunp/hotwatertargettemperatureset/","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"9efdad0e0808d94b","x":800,"y":240,"wires":[]},{"id":"6a129e6cbb6ac148","type":"mqtt in","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Heatpump Status","topic":"modbus2mqtt/heatpump/state/","qos":"1","datatype":"auto-detect","broker":"9efdad0e0808d94b","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":160,"wires":[["3a0d19c8b2c7cdcc"]]},{"id":"67103ce0e7322cd8","type":"debug","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Heating Set Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":100,"wires":[]},{"id":"dadc490a1b0e7f3e","type":"Heating","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Heating","periodlength":1,"nighttargettemperature":"","minimaltemperature":21,"maximaltemperature":23,"increasetemperatureperhour":0.2,"decreasetemperatureperhour":0.2,"designtemperature":-12,"x":520,"y":160,"wires":[["d6412d63e2db9a6d","67103ce0e7322cd8"]]},{"id":"3a0d19c8b2c7cdcc","type":"change","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Map Heatpump values","rules":[{"t":"set","p":"payload.currenttemperature","pt":"msg","to":"payload.roomtemperature","tot":"msg"},{"t":"set","p":"payload.outertemperature","pt":"msg","to":"payload.outertemperature","tot":"msg"},{"t":"set","p":"payload.hotwatertemperature","pt":"msg","to":"payload.currenttemperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["dadc490a1b0e7f3e"]]},{"id":"8dc36e35ef6a765a","type":"Hotwater","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Hotwater","periodlength":1,"nightstarthour":"20","nightendhour":"5","nighttargettemperature":"40","minimaltemperature":"47","maximaltemperature":"54","increasetemperatureperhour":"2.5","decreasetemperatureperhour":"0.3","x":520,"y":240,"wires":[["da46c8d503a81c54","ecda3b3eaaf4f988"]]},{"id":"ecda3b3eaaf4f988","type":"debug","z":"824f1743797e535f","g":"13bf1251f3dbd7f0","name":"Hotwater Set Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":200,"wires":[]},{"id":"9efdad0e0808d94b","type":"mqtt-broker","name":"HA-MQTT","broker":"homeassistant.lan","port":"1883","clientid":"priceOptimize","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":false,"autoUnsubscribe":false,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"d3cc795fa2c209e7","type":"tibber-api-endpoint","queryUrl":"https://api.tibber.com/v1-beta/gql","feedConnectionTimeout":"30","feedTimeout":"60","queryRequestTimeout":"30","name":"Tibber Plankstadt"}]